node_red-multiservices/service2/flows.json
[
    {
        "id": "6c0a524df5b8a2bd",
        "type": "tab",
        "label": "server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e217a6307a0c95fa",
        "type": "http in",
        "z": "6c0a524df5b8a2bd",
        "name": "",
        "url": "/server",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "fe20239f8df3dcb6"
            ]
        ]
    },
    {
        "id": "fe20239f8df3dcb6",
        "type": "http request",
        "z": "6c0a524df5b8a2bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "127.0.0.1:1880/service2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "7635a4f7ded31c4a",
                "bce683bcba08eed6"
            ]
        ]
    },
    {
        "id": "3eea076819fc5135",
        "type": "inject",
        "z": "6c0a524df5b8a2bd",
        "name": "trigger ok",
        "props": [
            {
                "p": "payload.type",
                "v": "ok",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "fe20239f8df3dcb6"
            ]
        ]
    },
    {
        "id": "7635a4f7ded31c4a",
        "type": "debug",
        "z": "6c0a524df5b8a2bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "bce683bcba08eed6",
        "type": "http response",
        "z": "6c0a524df5b8a2bd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "d31fea95df5caa2c",
        "type": "inject",
        "z": "6c0a524df5b8a2bd",
        "name": "trigger ko",
        "props": [
            {
                "p": "payload.type",
                "v": "ko",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "fe20239f8df3dcb6"
            ]
        ]
    },
    {
        "id": "75cfdc73053c5490",
        "type": "inject",
        "z": "6c0a524df5b8a2bd",
        "name": "trigger error",
        "props": [
            {
                "p": "payload.other",
                "v": "test",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "fe20239f8df3dcb6"
            ]
        ]
    }
]